// @import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/pn-regular.woff2') format('woff2'),
    url('/fonts/pn-regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/pn-bold.woff2') format('woff2'),
    url('/fonts/pn-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/pn-black.woff2') format('woff2'),
    url('/fonts/pn-black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap');

:root {
  --base-l2: #f5f5f9;
  --base-l: #b5bdcd;
  --base: #334f52;
  --base-d: #1b2f2e;
  --base-d2: #0e1f1f;
  --base-d3: #080f0f;

  --primary-l: #ddcdbd;
  --primary: #e9aa43;
  --primary-d: #c0800f;
  --primary-d2: #3b271c;

  --marTiny: 0.5em;
  --marSmall: 1em;
  --mar: 2em;
  --marBig: 4em;

  --fontStack: 'Sawarabi Mincho', 'Yu Gothic', 'YuGothic',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --titleFontStack: 'Averia Serif Libre', 'Proxima Nova',
    'Yu Gothic', 'YuGothic', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
}

html {
  --bg: var(--base-l2);
  --text: var(--base-d);

  background: var(--bg);
  color: var(--text);

  font-family: var(--fontStack);
  font-display: swap;

  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-weight: 500;
  font-size: 16px;
  font-size: 1.05rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 1rem;
    overflow-x: hidden;
  }
}
html[lang='ja-JP'] {
  font-weight: 600;
}

html,
body {
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

section {
  position: relative;
  z-index: 0;
  --bg-texture: url('/img/paper2.jpg');
  --text: var(--base-l2);
  --bg: var(--base-d);

  &.v2 {
    --text: var(--base-l2);
    --bg: var(--base);
    --bg-texture: url('/img/paper4.jpg');
  }
  &.v3 {
    --text: var(--primary-l);
    --bg: var(--primary-d2);
    --bg-texture: url('/img/paper2.jpg');
  }
  &.v4 {
    --bg: var(--base-l);
    --text: var(--base-d);
    --bg-texture: url('/img/paper4.jpg');
  }
  &.v5 {
    --bg: var(--primary-l);
    --text: var(--primary-d2);
    --bg-texture: url('/img/paper2.jpg');
  }
  &.v6 {
    --bg: var(--primary);
    --text: var(--base-d3);
    --bg-texture: url('/img/paper4.jpg');
  }

  color: var(--text);
  background-image: var(--bg-texture);
  background-blend-mode: overlay;
  background-color: var(--bg);

  &.shadowFromTop {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 400px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7) 5%,
        rgba(0, 0, 0, 0.4) 20%,
        rgba(0, 0, 0, 0) 100%
      );
      opacity: 0.6;
      pointer-events: none;
    }
  }

  --interstitial-height: 90vh;
  .interstitial {
    height: var(--interstitial-height);
    background-size: cover;
    background-position: center center;
    // overflow: hidden;
    position: relative;
    z-index: 2;
    margin-bottom: -40px;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @media (max-width: 768px) {
      height: 50vh;
      margin-bottom: -50px;
    }

    &.shadow {
      filter: drop-shadow(0 100px 10px red);
    }
  }

  // &:has(.light) {
  //   overflow: hidden;
  // }
  .light {
    background-image: url('/img/light1.jpg');
    background-size: cover;
    position: absolute;
    z-index: 1;
    opacity: 0.35;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: overlay;
    pointer-events: none;

    // @keyframes light {
    //   0% {
    //     // opacity: 0.5;
    //     transform: scale(1.1) skew(0deg, -1deg);
    //   }
    //   50% {
    //     // opacity: 0.2;
    //     transform: scale(1.15) skew(1deg, 1deg);
    //   }
    //   100% {
    //     // opacity: 0.8;
    //     transform: scale(1.1) skew(-1deg, 1deg);
    //   }
    // }
    // animation: light 15s alternate infinite ease-in-out;

    &.v2 {
      background-image: url('/img/light2.jpg');
    }
    &.v3 {
      background-image: url('/img/light3.jpg');
    }
  }
}

a,
a:active,
a:visited {
  color: inherit;
}

img {
  max-width: 100%;
}

.titlefont {
  font-family: var(--titleFontStack);
}

h1 {
  font-family: var(--titleFontStack);
  // text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 30px 0;
  padding: 0;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.4em;
  font-size: 1.05rem;
  // font-weight: 600;
}

.sub {
  font-size: 0.85em;
  opacity: 0.85;
  line-height: 1.2;
}

button,
a.button,
#mc_embed_signup
  #mc-embedded-subscribe-form
  #mc_embed_signup_scroll
  #mc-embedded-subscribe,
#mc_embed_signup .button {
  // text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 90px;
  line-height: 1.4;
  border-radius: 0;

  &.big {
    font-size: 1.3em;
    height: 110px;

    div {
      padding: 0 60px;
    }
  }

  @media (max-width: 768px) {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  div {
    text-align: center;
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    min-width: 180px;
    padding: 0 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    &.secondary {
      background-color: var(--primary-l) !important;
      color: var(--primary-d2) !important;
    }

    &.reverse,
    &.invert {
      background-color: var(--base-d) !important;
      color: var(--primary-l) !important;
    }

    &.dark {
      background-color: var(--base-d) !important;
      color: var(--primary-l) !important;
    }

    @media (max-width: 768px) {
      letter-spacing: 2.5px;
      font-size: 1rem;
      min-width: 100px;
    }

    &:hover {
      background-color: var(--primary-l);

      &.secondary {
        background-color: var(--primary) !important;
      }

      &.reverse,
      &.invert {
        background-color: var(--base) !important;
        color: var(--primary-l) !important;
      }

      &.dark {
        background-color: var(--base-d2) !important;
        color: var(--primary-l) !important;
      }
    }
  }
}

.contentcolumn {
  width: 100%;
  max-width: 1100px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &.full {
    max-width: inherit;
    width: auto;
    margin: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.contentcolumn {
  width: 100%;
  max-width: 1000px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
}
.textcolumn {
  width: 100%;
  max-width: 700px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
}

a,
a:visited,
a:active,
a:hover,
.fakelink {
  color: inherit;
  // text-decoration: none;

  // &:hover {
  // text-decoration: underline;
  // }
}

.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.highlight {
  color: var(--highlight);
}
.textshadow {
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

.block {
  display: block;
}

.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}
.pageheight {
  min-height: 100vh;
}

*:disabled,
.disabled {
  filter: grayscale(50%) brightness(0.5);
  pointer-events: auto;
  cursor: not-allowed;
}
.notallowed {
  cursor: not-allowed;
}

img {
  max-width: 100%;
}
.clickableIconHolder {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2em 0 0;
  line-height: 0;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.icon {
  width: 1em;
  height: 1em;
}

.o1 {
  opacity: 0.1;
}
.o2 {
  opacity: 0.2;
}
.o3 {
  opacity: 0.3;
}
.o4 {
  opacity: 0.4;
}
.o5 {
  opacity: 0.5;
}
.o6 {
  opacity: 0.6;
}
.o7 {
  opacity: 0.7;
}
.o8 {
  opacity: 0.8;
}
.o9 {
  opacity: 0.9;
}

.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}

hr {
  border: none;
  border-bottom: 4px dashed var(--base-d);
  width: 100%;

  margin: 4em auto;
}

label {
  display: block;
  font-size: 0.7em;
  font-weight: 700;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
input,
textarea {
  font-family: var(--fontStack);
  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  color: var(--base-d);
  background: var(--base-l2);
  box-shadow: 0 1px 0 var(--base);
  border: none;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &:focus {
    box-shadow: 0 1px 0 var(--highlight, var(--base));
  }

  &::placeholder {
    color: var(--base);
  }
}
.labeledinput {
  width: 100%;
}
input[type='range'] {
  appearance: none;
  width: 100%;
  height: 0;
  padding: 0.5px;
  outline: none;
  background: var(--base);
  border: 0;
  box-shadow: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--highlight);
    cursor: pointer;
    border-radius: 50%;
  }
}

.screen {
  mix-blend-mode: screen;
}
.multiply {
  mix-blend-mode: multiply;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridgap,
.gap {
  grid-gap: 1rem;
  gap: 1rem;
}
.gapbig {
  grid-gap: 2rem;
  gap: 2rem;
}
.gapsmall {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.gaptiny {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}

.pre {
  white-space: pre-wrap;
}

.outline {
  box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.5);
}

.sub {
  opacity: 0.6;
  font-size: 0.8em;
  line-height: 1.2;
}
.small {
  font-size: 0.8em;
  line-height: 1.2;
}
.medium {
  font-size: 0.9em;
}
.big {
  font-size: 1.5em;
  line-height: 1.3;
}
.fade {
  opacity: 0.6;
}
.fade2,
.sub.fade {
  opacity: 0.4;
}
.normal {
  font-weight: normal !important;
}
.uppercase,
.caps {
  text-transform: uppercase;
}
.breakword {
  word-break: break-word;
}
.smallcaps {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}

.rounded {
  border-radius: 0.5em;
  overflow: hidden;
}
.nooverflow {
  overflow: hidden;
}

.underline {
  text-decoration: underline;
}

.nobg {
  background: none !important;
}

.fullwidth {
  width: 100%;
}

.flex {
  display: flex !important;
}
.flexwrap {
  display: flex !important;
  flex-wrap: wrap;
}
.flexrow {
  display: flex !important;
  flex-direction: row;
}
.flexcolumn {
  display: flex !important;
  flex-direction: column;
}
.flexcenter {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.flexverticalcenter,
.flexvertcenter {
  display: flex !important;
  align-items: center;
}
.flexhorizontalcenter,
.flexhorizcenter {
  display: flex !important;
  justify-content: center;
}
.flexbetween {
  display: flex !important;
  justify-content: space-between;
}
.flexstretch {
  display: flex !important;
  align-items: stretch;
  justify-content: stretch;
  & > * {
    flex-grow: 1;
  }
}
.noflex {
  flex-grow: 0;
  flex-shrink: 0;
}
.flexgrow {
  flex-grow: 1;
}
.flexshrink {
  flex-shrink: 1;
}

.padnone,
.nopad {
  padding: 0 !important;
}
.nopadtop,
.padtopnone {
  padding-top: 0 !important;
}
.nopadleft,
.padleftnone {
  padding-left: 0 !important;
}
.nopadright,
.padrightnone {
  padding-right: 0 !important;
}
.nopadbot,
.padbotnone {
  padding-bottom: 0 !important;
}
.marnone,
.nomar {
  margin: 0 !important;
}
.nomartop,
.martopnone {
  margin-top: 0 !important;
}
.nomarleft,
.marleftnone {
  margin-left: 0 !important;
}
.nomarright,
.marrightnone {
  margin-right: 0 !important;
}
.nomarbot,
.marbotnone {
  margin-bottom: 0 !important;
}

.mar {
  margin: var(--mar) !important;
}
.marsmall {
  margin: var(--marSmall) !important;
}
.marbig {
  margin: var(--marBig) !important;
}
.martiny {
  margin: var(--marTiny) !important;
}
.martop {
  margin-top: var(--mar) !important;
}
.marauto {
  margin: auto !important;
}
.martopsmall {
  margin-top: var(--marSmall) !important;
}
.martopbig {
  margin-top: var(--marBig) !important;
}
.martoptiny {
  margin-top: var(--marTiny) !important;
}
.marbot {
  margin-bottom: var(--mar) !important;
}
.marbotsmall {
  margin-bottom: var(--marSmall) !important;
}
.marbotbig {
  margin-bottom: var(--marBig) !important;
}
.marbottiny {
  margin-bottom: var(--marTiny) !important;
}
.marleft {
  margin-left: var(--mar) !important;
}
.marleftsmall {
  margin-left: var(--marSmall) !important;
}
.marleftbig {
  margin-left: var(--marBig) !important;
}
.marlefttiny {
  margin-left: var(--marTiny) !important;
}
.marright {
  margin-right: var(--mar) !important;
}
.marrightsmall {
  margin-right: var(--marSmall) !important;
}
.marrightbig {
  margin-right: var(--marBig) !important;
}
.marrighttiny {
  margin-right: var(--marTiny) !important;
}
.marauto,
.marginauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pad {
  padding: var(--mar) !important;
}
.padsmall {
  padding: var(--marSmall) !important;
}
.padbig {
  padding: var(--marBig) !important;
}
.padtiny {
  padding: var(--marTiny) !important;
}
.padtop {
  padding-top: var(--mar) !important;
}
.padtopsmall {
  padding-top: var(--marSmall) !important;
}
.padtopbig {
  padding-top: var(--marBig) !important;
}
.padtoptiny {
  padding-top: var(--marTiny) !important;
}
.padbot {
  padding-bottom: var(--mar) !important;
}
.padbotsmall {
  padding-bottom: var(--marSmall) !important;
}
.padbotbig {
  padding-bottom: var(--marBig) !important;
}
.padbottiny {
  padding-bottom: var(--marTiny) !important;
}
.padleft {
  padding-left: var(--mar) !important;
}
.padleftsmall {
  padding-left: var(--marSmall) !important;
}
.padleftbig {
  padding-left: var(--marBig) !important;
}
.padlefttiny {
  padding-left: var(--marTiny) !important;
}
.padright {
  padding-right: var(--mar) !important;
}
.padrightsmall {
  padding-right: var(--marSmall) !important;
}
.padrightbig {
  padding-right: var(--marBig) !important;
}
.padrighttiny {
  padding-right: var(--marTiny) !important;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.z2 {
  z-index: 2;
}

.scroll {
  overflow-y: scroll;
}
.hidescrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.nopointer {
  pointer-events: none;
}
.selectable {
  user-select: text;
}
.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.inline,
.inlineblock {
  display: inline-block;
}

.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textleft {
  text-align: left;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}
.displaynone {
  display: none !important;
}

.transition {
  transition: all 0.2s ease-in-out;
}
.transitionslow {
  transition: all 0.5s ease-in-out;
}
.transitionslow2 {
  transition: all 1s ease-in-out;
}

.page-enter-active {
  transition: all 0.3s;
}
.page-leave-active {
  opacity: 0;
  transition: all 0s;
}
.page-enter-from {
  opacity: 0;
  // filter: blur(1rem);
}
.page-leave-to {
  opacity: 0;
  // filter: blur(1rem);
}
